In [1]:
import pandas as pd

In [2]:
url = 'https://github.com/veltman/ca-license-plates/blob/master/applications.csv?raw=true'

In [3]:
df = pd.read_csv(url)

In [4]:
df

,plate,review_reason_code,customer_meaning,reviewer_comments,status
0,AZIZ714,2,LAST NAME,714 AREA CODE,N
1,BATBOX1,1,BATMOBILE (BATMAN) PLUS SHAPE OF VEHICLE (SCIO...,BOX,N
2,BBOMBS,2,NO MICRO AVAILABLE,BOMBS,N
3,BEACHY1,4,LOVE THE BEACH,BEACHY LOOKS LIKE BITCHY 1,N
4,BLK PWR5,2,STRENGTH OF FAMILY,BLACK POWER,N
...,...,...,...,...,...
23458,4KTMGAL,1,TO TRAILER MY KTM BIKE,FORKED(FUCKED) MY GAL. SHE DOES HAVE A KTM M/C...,Y
23459,88 CAP,2,88 CAPITAL,"88=HATE SYMBOL, NO 88 CAR ON ANI",N
23460,BLNT 4C,2,"MY LAST NAME, BLUNT","BLUNT FORCE (TRAUMA) KILLS PEOPLE, HIS LAST NA...",N
23461,VIBRATR,1,"VIBRATOR, IT IS FOR A HARLEY DAVIDSON WITH RUB...","VIBRATOR, SEXUAL CONNOTATION",N
23462,666KIDD,2,MY CHILDHOOD NICKNAME IS KID. I WANTED TO MAKE...,666 MARK OF THE BEAST,Y